export DB_URL=caminho-do-seu-banco
export DB_USERNAME=seu-usuario-do-banco
export DB_PASSWORD=sua-senha-do-banco
export JWT_SECRET=sua-chave-aleatoria

export ADMIN_EMAIL=seu-email-admin
export ADMIN_SENHA=sua-senha-admin
export ADMIN_CPF=cpf-do-admin